* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}

.wrapper {
    width: 100vw;
    height:100vh
}

.heading {
    width: 100%;
    margin-bottom: 2%;
}

.container {
    width: 90%;
    margin: 70px auto;
}

.sub-container {
    width: 100%;
    border: 1px solid var(--border-blue);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 5% 2%;
}

.container .sub-container .head {
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    color: var(--primary-grey);
}

.container .sub-container .head p {
    padding: 0 0 5% 0;
}

.container .sub-container .options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.container .sub-container .options label {
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-wrap: nowrap;
}

.container .sub-container .options .radio {
    margin-right: 5px;
}

.remarks {
    width: 99%;
    margin: 0 auto;
    margin-top: 4%;
}

.remarks p {
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-grey);
    margin: 5% auto 1% 0;
}

.remarks textarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--border-blue);
    padding: 2% 2% 2% 2%;
    font-size: 16px;
    max-height: 100px;
}

.submit-cancel {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 5% auto 0 auto;
}

.submit-cancel button {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-medium-font-family);
}
.submit-cancel button:disabled, .submit-cancel button[disabled]{
    background-color: var(--light-grey);
}

/* .submit-cancel .cancel {
    background-color: var(--primary-grey);
    color: var(--primary-white);
} */

.submit-cancel .submit {
    background-color: var(--primary-blue);
    color: var(--primary-white);
}

c-c-b-header {
    position: fixed;
    top: 0;
    z-index: 10;
}

c-c-b-footer {
    position: fixed;
    bottom: 0;
}