* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}
.wrapper {
    height: 100vh;
    width: 100vw;
}
.container {
    width: 90%;
    margin: 20px auto;
    height: calc(90vh - 60px);
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}

.wrapper .container .form{
    width: 100%;
    height: auto;
    overflow-y: scroll;
}
.wrapper .container .input{
    width: 100%;
    height: auto;
    margin: 0 0 3% 0;
	overflow-y: scroll;
}
.account-type{
    display: flex;
    align-items: center;
}
.wrapper .heading{
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
    margin: 3% 0% 1% 0%;
}

.wrapper .options {
    width: 100%;
    height: 40px;
    padding: 2% 2% 2% 3%;
    border: 1px solid var(--border-blue);
    border-radius: 12px;
    font-size: 16px;
}
.wrapper select{
    /* font-family: var(--dxp-g-root-gotham-medium-font-family); */
}
.read{
    display: flex;
    align-items: center;
    background-color: var(--light-grey);
}
.btns{
    display: flex;
    justify-content: center;
	margin: 5% 0 0 0;
}

.btns .submit-btn{
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
.notes-container{
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.notes-container .notes-inner-container{
   
    display: flex;
    flex-direction: row;
    
}
.note{
        width: 90%;
}

.btns .submit-btn:disabled,
.btns .submit-btn[disabled] {
    background-color: var(--light-grey);
}
.terms-Conditions{
    display: flex;
    margin: 3% 0% 0% 0%;
}

.terms-Conditions a{
    color: var(--primary-blue);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
}

.check-box{
    width:7%;
    display: flex;
    align-items: center;
}

.checkBox {
    appearance: none; 
    width: 15px;
    height: 15px; 
    background-color: FFFFFF;
    border: 1px solid var(--border-blue);
    border-radius: 0;
    outline: none;
    position: relative;
}

.checkBox:checked::before {
  content: '\2713';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #28a745; 
  font-size: 14px; 
}

c-c-b-footer {
    position: fixed;
    border: none;
    bottom: 0;
    z-index: 1;
}
select {
    font-size: 16px !important;
    max-height: 100px !important;
}
input {
    font-size: 16px !important;
    max-height: 100px !important;
}