* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);

}

.wrapper {
    background-color: white;
    height: fit-content;
    width: 360px;
    margin: auto auto;
    padding: 5% 2% 5% 2%;
}

.wrapper .heading{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.wrapper .heading p {
    margin-left: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.container .dates {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 5% 2% 5% 2%;
    margin: 2% auto 2% auto;
    border: 1px solid var(--border-blue);
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container .dates .from-date,
.container .dates .to-date {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 2% 0 2% 0;
    position: relative;
}

.container .dates .from-date .from-date-p,
.container .dates .to-date .to-date-p {
    color: var(--primary-blue);
}

.to-date-display,
.from-date-display{
    margin-right: 10px;
}
.date-box {
    display: flex;
    align-items: center;
}

input{
    opacity: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}
/* input[type=date]::-webkit-calendar-picker-indicator {
    visibility: hidden;
} */

.wrapper .btns{
    display: flex;
    justify-content: space-around;
}

.btns .submit-btn {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.btns .submit-btn:disabled,
.btns .submit-btn[disabled] {
    background-color: var(--light-grey);
}