* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}



.wrapper {
    height: 350px;
    width: 80%;
    background-color: var(--primary-white);
    margin: auto auto;
    border-radius: 12px;
    overflow: auto;
}


.wrapper .container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.wrapper .container .add-accs,
.wrapper .container .delete-accs {
    position: absolute;
    height: 85%;
    width: 100%;
    bottom: 0;
}



.wrapper .container .add-accs {}

.wrapper .container .delete-accs {}

.wrapper .container .add-accs-toggle,
.wrapper .container .delete-accs-toggle {
    height: 15%;
    width: 100%;
}


.wrapper .container .add-accs-toggle {
    position: absolute;
    top: 0;
    width: 50%;
    left: 0;

}

.wrapper .container .delete-accs-toggle {
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;

}


.wrapper .container .backdrop {
    background-color: rgb(210, 210, 210);
}