/*
	Author - Aditya
	Created Date - 06/03/2024
	Modified Date - 08/03/2024, 14/03/2024, 21/03/2024
	Description - This component provides a user interface for users to input and confirm their new password, along with validation
                checks for password criteria and matching. It integrates with Salesforce custom labels for UI elements and utilizes
                the NavigationMixin for navigation functionality. The component also includes an authentication process with loading
                indicators and a confirmation modal upon successful authentication.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}

.wrapper {
    background-color: var(--primary-white);
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    margin: 0 auto;
    width: 90%;
}

.header-form {
    width: 90vw;
    margin: 0 0 2% 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.header-form p {
    font-size: 18.25px;
    margin: 0 0 0 10px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 5% 0 5% 0;
}

form .field-password {
    margin: 0 0 2% 0;
    display: flex;
    flex-direction: column;
    color: var(--primary-grey);
    width: 90%;
}

form .field-password p {
    margin-left: 1%;
    font-size: 12px;
}

form .field-password input {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: 0.15px solid var(--border-blue);
    padding-left: 8px;
    font-size: 16px;
    max-height: 100px;
}


form .field-password input:focus {
    outline: 1px solid var(--primary-blue);
}

.button-div .button {
    margin: 5% 0 5% 0;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.button-div {
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}

.button-div .cancel-button {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--light-grey);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

form {
    border: 1px solid var(--border-blue);
    border-radius: 12px;
    height: auto;
}

.footer p {
    font-size: 15px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.footer ul li {
    font-size: 12px;
    margin-left: 5%;
    list-style-type: disc;
}

.error-div {
    margin: 1% 0 0 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.error-div p {
    text-align: center;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.cb-logo {
    margin: 20% auto 0% auto;
}

.field-password {
    position: relative;
}

.pass-show {
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 2%;
    top: 46%;
}

.error-input-field {
    border: 1px solid var(--primary-orange) !important;
    color: var(--primary-orange);
    ;
}

.error-input-field:focus {
    outline: 1px solid var(--primary-orange) !important;
    color: var(--primary-orange);
}

.error-input-label {
    color: var(--primary-orange) !important;
}

.button-div button:disabled,
.button-div button[disabled] {
    background-color: var(--light-grey);
}