* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 100vw;
}
.container {
    width: 90%;
    margin: 20px auto;
}
c-c-b-footer {
    position: fixed;
    border: none;
    bottom: 0;
    z-index: 1;
}