* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--dxp-g-root-gotham-bold-font-family);
	font-family: var(--dxp-g-root-gotham-medium-font-family);
	font-family: var(--dxp-g-root-gotham-book-font-family);
}

c-c-b-header {
	position: absolute;
	top: 0;
	z-index: 10;
}

/* .wrapper {
	width: 100vw;
	height: calc(100vh - 470px);
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
} */

.icons-container {
	border: 1px solid var(--border-blue);
	border-radius: 10px;
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 2%;
}

.icons>svg {
	margin: 2px;
}

.transaction-container {
	border-bottom: 1px solid var(--border-blue);
	width: 95%;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.overview-container {
	border: 1px solid var(--border-blue);
	border-radius: 10px;
}

.overview-container,
.icons-container {
	width: 95%;
	/* margin-left: 10px; */
	margin: 0 0 2% 10px;
}

.icons-container {
	display: flex;
	justify-content: space-between;
	padding: 2%;
}

.column {
	margin: 3%;
}

.transaction-heading {
	margin: 1%;
	padding: 4%
}

.overview-value {
	margin-left: 5%;
}

.overviewValue {
	color: var(--border-blue);
	font-weight: bolder;
}

/* .wrapper .transactions {
	width: 100%;
	height: 44vh;
	margin: 0 auto;
	overflow-y: scroll;
} */

.transaction-heading .overview {
	padding: 4% 4% 4% 4%;
	border-radius: 62px;
	background-color: var(--primary-blue);
	color: var(--primary-white);
	font-size: 14px;
	font-family: var(--dxp-g-root-gotham-medium-font-family);
}

::-webkit-scrollbar {
	display: none;
}

/* .wrapper .icons-container .icons svg {
	margin: 0 2% 0 2%;
} */
.wrapper-2 .icons-container .icons svg {
	margin: 0 0 0 10px;
}

.wrapper-2 .icons-container .icons {
	padding: 1% 0 0 0
}

c-c-b-footer {
	position: fixed;
	border: none;
	bottom: 0;
	z-index: 1;
}

.transactionDate {
	font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.secondary-header {
	width: 90%;
	margin: 70px auto 10px auto;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    overflow-x: hidden;
    overflow-y: scroll;
	padding-bottom: 75px;
}

.wrapper-2 {
    width: 100vw;
	height:auto;
    /* height: 40vh; */
    /* overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden; */
}


.icons-container {
    height: 50px;
}



.wrapper-2 .transactions {
    width: 100%;
    height: calc(100% - 50px);
    margin: 0 auto;
    overflow-y: scroll;
    padding: 0 0 15px 0;
}