/*
	Author - 
	Created Date - 
	Modified Date - 
	Description - 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);

}



.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.wrapper .container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto 0 auto;
}

.wrapper .container .header {
    width: 90%;
    margin: 0 auto;
    height: 2.5rem;
}



.wrapper .container .content {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin: 2% auto 0 auto;
    border: 1px solid var(--border-blue);
    border-radius: 12px;
}


.wrapper .container .content .download-statements {
    width: 100%;
    background-color: var(--light-grey);
    border-radius: 12px;
    padding: 4% 6% 4% 6%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.wrapper .container .content .download-statements>p {
    text-align: center;
    width: 100%;
    font-family: var(--dxp-g-root-gotham-medium-font-family);
}

.wrapper .container .content .acc-info {
    width: 90%;
    border-radius: 12px;
    background-color: var(--light-blue);
    padding: 4% 6% 4% 6%;
    margin: 3% auto 3% auto;
    height: auto;
    text-align: left;
}


.wrapper .container .content .acc-info .acc-no {
    font-size: 13px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-blue);
}

.wrapper .container .content .acc-info .acc-benef,
.wrapper .container .content .acc-info .acc-type {
    font-size: 13px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.wrapper .container .content .statements {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4% 0 4% 0;
}


.wrapper .container .content .statements .statement {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 1% 5% 1% 5%;
}


.wrapper .container .content .statements .statement .app-on {
    font-size: 13px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.wrapper .container .content .statements .statement .date {
    font-size: 13px;
    font-family: var(--dxp-g-root-gotham-book-font-family);
}

.wrapper .container .content .statements .statement>p {
    font-size: 13px;
    color: var(--primary-blue);
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

c-c-b-footer {
    position: fixed;
    border: none;
    bottom: 0;
    z-index: 1;
}