/*
	Author - 
	Created Date - 
	Modified Date - 
	Description - 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
    user-select: none;
}



.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.wrapper .container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto 0 auto;
}

.wrapper .container .header {
    width: 90%;
    margin: 0 auto;
    height: 2.5rem;
}



.wrapper .container .content {
    width: 90%;
    margin: 0 auto;
}



.wrapper .container .content .dates {
    display: none;
}


.wrapper .container .content .query-on-c-radio {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 8% auto 0 auto;
}


.wrapper .container .content .query-on-c-radio>p {
    font-size: 15px;
    margin: 0 0 0 2%;
}


.wrapper .container .content .query-on-c-book,
.wrapper .container .content .query-on-issued-c {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 5% 2% 5% 2%;
    margin: 2% auto 0 auto;
    border: 1px solid var(--border-blue);
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper .container .content .query-on-issued-c label {
    width: 95%;
    margin: 2% 0 1% 0;
}



.wrapper .container .content .query-on-issued-c label .query-on-inputs {
    border: 1px solid var(--border-blue);
    width: 100%;
    height: 35px;
    border-radius: 12px;
    padding: 0 0 0 4%;
    font-size: 15px;
    max-height: 100px;
}


.wrapper .container .content .query-on-issued-c label p {
    font-size: 15px;
}

.wrapper .container .content .query-on-c-book .from-date,
.wrapper .container .content .query-on-c-book .to-date {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin: 2% 0 2% 0;
}



.wrapper .container .content .query-on-c-book .from-date>p,
.wrapper .container .content .query-on-c-book .to-date>p {
    color: var(--primary-blue);
    font-size: 15px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}


.wrapper .container .content .query-on-c-book .from-date .date-entry p,
.wrapper .container .content .query-on-c-book .to-date .date-entry p {
    color: var(--primary-black);
    font-size: 15px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    margin: 0 4% 0 0;
    position: absolute;
    left: 0;
}


.wrapper .container .content .disable-con {
    pointer-events: none;
}

.wrapper .container .content .query-on-c-book .from-date .date-entry,
.wrapper .container .content .query-on-c-book .to-date .date-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.wrapper .container .content .query-on-c-book .from-date .date-entry .date-con,
.wrapper .container .content .query-on-c-book .to-date .date-entry .date-con {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}



.wrapper .from-date .date-entry .date-con input,
.wrapper .to-date .date-entry .date-con input {
    opacity: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    z-index: 10;
    padding: 0 0 0 2%;
    color: transparent;
}




.wrapper .date-con input::-webkit-inner-spin-button,
.wrapper .date-con input::-webkit-calendar-picker-indicator {
    color: transparent;
    background-color: transparent;
    background: transparent;
}


.wrapper .date-entry .date-con svg {
    position: absolute;
    right: 3px;
}

.wrapper .container .footer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 5% auto 0 auto;
}



.wrapper .container .footer .submit-btn {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}


.wrapper .container .footer .submit-btn:disabled,
.wrapper .container .footer .submit-btn[disabled] {
    background-color: var(--light-grey);
}

.dates .from-date-invis,
.dates .to-date-invis {
    font-size: 15px;
    max-height: 100px;
}


/* c-c-b-header {
    position: fixed;
    top: 0;
    z-index: 10;
} */

c-c-b-footer {
    position: fixed;
    border: none;
    bottom: 0;
    z-index: 1;
}