* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.container {
    width: 90%;
    margin: 20px auto;
    /* height: calc(90vh - 60px);
    overflow-y: scroll; */
}

.wrapper .container .casing {
    width: 100%;
    height: auto;
    margin: 5% 0;

    /* padding:4%; */
    /* padding: 0% 4% 4% 4%; */
    /* border-radius: 12px;
    border: 0.3px solid var(--border-blue); */
}

.container .heading {
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
    margin: 3% 0% 1% 0%;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 5% 0 0 0;
}

.menu-item::-webkit-scrollbar {
    display: none;
}

.menu-item p {
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-size: 14.14px;
    margin: 1% 0 0 2%;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    margin: 0% 0 5% 0;
}

.search-container svg{
    position: absolute;
    left: 44px;
}
.search-input {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    border: 1px solid var(--border-blue);
    padding-left: 5px;
    padding: 2% 2% 2% 30px
}
.beneficiaryList{
    overflow: scroll;
    height: calc(90vh - 60px);
}
::-webkit-scrollbar {
    width: 0px;
}
.wrapper .container .btn{
    display: flex;
    justify-content: space-around;
    margin: 0 0 5% 0;
}

.wrapper .container .btn .submit-btn {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    /* margin: 12% auto 0 auto; */
}

.wrapper .container .btn .submit-btn:disabled,
.wrapper .container .btn .submit-btn[disabled] {
    background-color: var(--light-grey);
}

c-c-b-footer {
    position: fixed;
    border: none;
    bottom: 0;
    z-index: 1;
}
select {
    font-size: 16px !important;
    max-height: 100px !important;
}
input {
    font-size: 16px !important;
    max-height: 100px !important;
}