/*
	Author - Aditya
	Created Date - 06/03/2024
	Modified Date - 14/03/2024, 21/03/2024
	Description - This component allows users to change their password with authentication. It includes custom labels
                for UI elements such as submit button, old password, new password, and confirm password inputs. The component
                integrates with NavigationMixin for navigation functionality and uses resources for loading spinner and
                authentication success image.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}

.header-icon p {
    font-size: 10px;
    color: var(--primary-grey);
}


.header-icon {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    /* padding: 10% 0 0 0;
    height: auto;
    width: 90%; */
    /* margin: 0 auto; */

    width: 90%;
    height: calc(100vh - 140px);
    margin: 70px auto 0 auto;
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; */
}

.container .header .prof p {
    font-size: 18.25px;
}


.header {
    /* display: flex; */
    /* align-items: center; */
    /* margin-top: 12%; */

    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0 0 3% 2%;
}

.header .prof {
    margin: 0 3%;
}

form {
    margin: 0 0 0 0;
    width: 100%;
}

form .field-password p {
    color: var(--light-grey);
    font-size: 12px;
    margin: 0 0 1% 0;
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    padding-left: 2%;
    /* font-family: 'gotham'; */
}

input{
     font-size: 16px;
    max-height: 100px;
 }

form .field-password input {
    width: 100%;
    border-radius: 12px;
    border: 0.15px solid var(--border-blue);
    height: 35px;
    margin-bottom: 2%;
    padding: 0 4% 0 4%;
}

form .field-password input:focus {
    outline: 1px solid var(--primary-blue);
}

form .button-div {
    text-align: center;
    margin: 6% 0;
}

form .button-div button {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-medium-font-family);
}

form .field-password {
    position: relative;
    width: 90%;
}

.footer p {
    font-size: 15px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);

}

.footer ul li {
    font-size: 12px;
    margin-left: 5%;
    list-style-type: disc;
}

c-c-b-header {
    position: fixed;
    top: 0;
    z-index: 10;
}

c-c-b-footer {
    position: fixed;
    border: none;
    bottom: 0;
    z-index: 1;
}

.error-div {
    display: grid;
    place-items: center;
    margin: 1% 0 0 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.error-div p {
    text-align: center;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.error-input-field {
    border: 1px solid var(--primary-orange) !important;
    color: var(--primary-orange);
}

.error-input-field:focus {
    outline: 1px solid var(--primary-orange) !important;
    color: var(--primary-orange);
}

.error-input-label {
    color: var(--primary-orange) !important;
}

.pass-show {
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 8px;
    top: 44%;
}


.old-pass-show {
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 8px;
    top: 44%;
}

form .button-div button:disabled,
form .button-div button[disabled] {
    background-color: var(--light-grey);
}

.blue-container {
    border: 1px solid var(--primary-blue);
    border-radius: 12px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5% 0 5% 0;
}