* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);

}

.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
}

.wrapper .header {
    width: 90%;
    margin: 5% auto;
}

.wrapper .container {
    width: 90%;
    height: calc(100vh - 158px);
    margin: 0 auto 0 auto;
    border-radius: 7px;
    padding: 0 0 0 0;
    overflow-y: scroll;
}

.wrapper .container::-webkit-scrollbar {
    display: none;
}

.wrapper .container .from-acc-box>p,
.wrapper .container .select-bank-box>p {
    font-size: 12px;
    margin: 0 0 1% 0%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
}


.wrapper .container .from-acc-box,
.wrapper .container .select-bank-box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 4% 0 0 0;
}




.wrapper .container .from-acc-inp,
.wrapper .container .select-bank-inp {
    margin: 0 auto;
    font-size: 13px;
    width: 100%;
    height: 35px;
    border-radius: 12px;
    border: 1px solid var(--border-blue);
    padding: 0 2% 0 2%;

}





.wrapper .container .inp-box>p {
    font-size: 12px;
    margin: 0 0 1% 0%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
}


.wrapper .container .inp-box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 4% 0 0 0;
    position: relative;
}


.wrapper .container .inp-box-date {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 4% 0 0 0;
}

.wrapper .container .inp-box-date .inp {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--primary-white);
}

.wrapper .container .inp-box-date .inp svg {
    position: absolute;
    right: 10px;
    top: 4px;
}

.wrapper .container .inp-box-date .date-inp {
    position: absolute;
    right: 0;
    z-index: 10;
    opacity: 0;
    height: 100%;
}



.wrapper .container .inp {
    margin: 0 auto;
    font-size: 13px;
    width: 100%;
    height: 35px;
    border-radius: 12px;
    border: 1px solid var(--border-blue);
    padding: 0 2% 0 2%;
    font-size: 16px;
    font-family: var(--dxp-g-root-gotham-book-font-family);
}


.wrapper .container .inp-box .date-pick {
    position: absolute;
    right: 2%;
    bottom: 10%;
    z-index: -10;
}

.wrapper .container .date-field::-webkit-inner-spin-button,
.wrapper .container .date-field::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    opacity: 0;
}

.wrapper .container .date-field::placeholder {
    display: none;
    color: transparent;
}

.wrapper .container .hr {
    margin: 10% 0 5% 0;
    height: 1px;
    width: 100%;
    background-color: var(--border-blue);
}

.wrapper .container .inp-box-2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    margin: 4% 0 0 0;
    position: relative;
}

.wrapper .container .inp-box-2 label {
    width: fit-content;
}

.wrapper .container .inp-box-2>p {
    font-size: 12px;
    margin: 0 0 1% 0%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
}



.wrapper .container .inp-box-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 4% 0 0 0;
    position: relative;
    padding: 0 0 4% 0;
    border-radius: 12px;
    border: 1px solid var(--border-blue);
}

.wrapper .container .inp-box-3 .inp-box {
    width: 90%;
    border-radius: 8px;
    padding: 2% 2% 2% 2%;
    font-size: 16px;
    max-height: 100px;
}

.wrapper .container .inp-box-3 .inp-box-hor {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: auto;
}

.wrapper .container .inp-box-hor .inp-box-5 {
    width: 45%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 4% 0 0 0;
    position: relative;
}

.wrapper .container .inp-box-hor .inp {
    border-radius: 8px;
}

.wrapper .container .inp-box-3 .inp-box textarea {
    width: 100%;
    border-radius: 8px;
    padding: 2% 2% 2% 2%;
    font-size: 16px;
    max-height: 100px;
    border: 1px solid var(--border-blue);
}

.wrapper .container .inp-box-4 {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 4% 0 0 0;
    position: relative;
}

.wrapper .container .btns {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: auto;
    margin: 8% auto 4% auto;
    position: relative;
}

.wrapper .container .btns .sub {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.wrapper .container .btns .cancel {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--light-grey);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.wrapper .container .btns .sub:disabled,
.wrapper .container .btns .sub[disabled] {
    background-color: var(--light-grey);
}

.wrapper .container .col-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 4% 0 0 0;
}

.wrapper .container .col-2 .inp-box {
    width: 45%;
    margin: 0 0 0 0;
}

.wrapper .container .inp-box-3 .inp-box {
    width: 90%;
}

.wrapper .container .inp-box .text-area-inp {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--border-blue);
    padding: 2% 2% 2% 2%;
    font-size: 16px;
    height: 100px;
}

.wrapper .container .inp-box .text-area-inp::placeholder {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
}

.sub-fields {
    display: flex;
    justify-content: space-between;
    margin: 4% 0% 4% 0%;
    width: 100%;
}

.sub-fields .sub-input {
    width: 45%;
}

.sub-fields p {
    font-size: 12px;
    margin: 0 0 1% 0%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
}

.sub-fields .fields {
    width: 100%;
    /* height: auto;
    border-radius: 8px; */
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--border-blue);
    padding-left: 5px;
    padding: 2% 2% 2% 3%;
}

.trans-date {
    margin: 4% 0 0 0;
}

.trans-date .title {
    color: var(--primary-grey);
}

.trans-date .date {
    position: relative;
    margin: 0 auto;
    /* font-size: 18px; */
    width: 100%;
    height: 35px;
    border-radius: 12px;
    border: 1px solid var(--border-blue);
    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.trans-date .date>p {
    position: absolute;
    left: 10px;
    /* font-family: var(--dxp-g-root-gotham-medium-font-family);
    color: var(--primary-black); */
}

.trans-date>p {
    font-size: 12px;
    margin: 0 0 1% 0%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    /* color: var(--primary-grey); */
}

.trans-date .trans-date-inp {
    opacity: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}

.date .date-pick {
    position: absolute;
    right: 8px;
    bottom: 6px;
    /* z-index: -10; */
}


.read {
    display: flex;
    align-items: center;
    background-color: var(--transp-light-grey);
}

.wrapper .container .inp-box-name .title {
    font-size: 12px;
    margin: 0 0 1% 0%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
}

/* .wrapper .container .inp .read{
    font-size: 16px;
    font-family: var(--dxp-g-root-gotham-book-font-family);
} */
c-c-b-footer {
    position: fixed;
    border: none;
    bottom: 0;
    z-index: 1;
}

select {
    font-size: 16px !important;
    max-height: 100px !important;
}

input {
    font-size: 16px !important;
    max-height: 100px !important;
}

c-c-b-remarks {
    width: 100%;
}







hr {
    margin: 10% 0 5% 0;
    height: 1px;
    width: 100%;
    background-color: var(--border-blue);
}



.container .recurring {
    width: 100%;
    height: fit-content;
    margin: 15px 0 10px 0;
}
