/*
	Author - __
	Created Date - __/__/202_
	Modified Date - __/__/202_, __/__/202_
	Description - {***Purpose of creation or modification, Additional Comment***}
*/

/* Styles for the dark theme */
:host([native-dark-active]) {
    --native-dark-font-color: #ffffff;
    --native-dark-bg-color: #333333;
    color: var(--native-dark-font-color) !important;
    background-color: var(--native-dark-bg-color) !important;
}

/* Additional styles for the dark mode button */
lightning-button {
    --variant-color-button-brand: var(--native-dark-bg-color); /* Use dark mode background color */
}