/*
	Author - 
	Created Date - 28/03/2024
	Modified Date - 
	Description - 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);

}



.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.wrapper .heading {
    width: 90%;
    margin: 0 auto;
    height: 2.5rem;
}



.wrapper .container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 70px auto 0 auto;
}


.wrapper .container .quick-links {
    width: 95%;
    height: auto;
    border: 1px solid var(--border-blue);
    border-radius: 12px;
    display: flex;
    align-items: normal;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 1% 2% 1%;
    overflow: scroll;
}




.wrapper .container .quick-links .icon-box {
    width: 25%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all ease-in-out 0.15s;
}


.wrapper .container .quick-links .icon-box:hover .icon-label {
    color: var(--primary-orange);
}

.wrapper .container .quick-links .icon-box:hover {
    transform: scale(1.05);
}


.wrapper .container .quick-links .icon-svg {
    width: 80%;
    aspect-ratio: 1 / 1;
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}



.wrapper .container .quick-links .icon-label {
    text-align: center;
    font-size: 3vw;
    font-family: var(--dxp-g-root-gotham-medium-font-family);
}


c-c-b-header {
    position: fixed;
    top: 0;
    z-index: 10;
}

c-c-b-footer {
    position: fixed;
    border: none;
    bottom: 0;
}