* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}
.wrapper{
    width: 100vw;
    height: 100vh;
}
.head {
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}
.head p {
    padding: 5% 0 3% 0;
}
.container {
    width: 95%;
    margin: 5% auto 0 auto;
    border: 1px solid var(--primary-blue);
    border-radius: 14px;
    padding: 0 0 7% 0;
    position: relative;
    height: calc(90vh - 60px);
    overflow-y: scroll;
}
.container .template-container{
    width: 90%;
    height: 12vh;
    margin: 3% auto;
    background-image: url('/resource/CreditCardBg');
    background-repeat: no-repeat;
    background-size: cover;   
    display: flex;
    padding: 5px 10px;
    border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.container .template-container .template-text {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 10px;
    overflow: hidden;
}
.container .template-container .template-text .name {
    font-size: 16px;
    font-weight: 900;
    color: var(--primary-white);
	margin: 0 0 10px 0;
}
.container .template-container .template-text .template {
    color: var(--primary-white);
}
.container .template-container .template-amount {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--primary-white);
}

.button {
	width: 100%;
	display: flex;
	margin: 25px 0;
	justify-content: center;
}
.button button {
	width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-medium-font-family);
}

.heading {
    margin: 0 auto;
    width: 95%;
}

c-c-b-footer {
    position: fixed;
    border: none;
    bottom: 0;
    z-index: 1;
}
::-webkit-scrollbar {
    display: none;
}