* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}
.wrapper{
    width: 100vw;
    height: 100vh;
}
.head {
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}
.head p {
    padding: 5% 0 3% 0;
}
.casing{
    width: 100%;
    overflow-y: scroll;
    height:calc(100vh - 110px);
}
::-webkit-scrollbar {
    display: none;
}
.container {
    width: 95%;
    margin: 5% auto 0 auto;
    border: 1px solid var(--border-blue);
    border-radius: 14px;
    padding: 0 0 7% 0;
    position: relative;
    
}

.container .message-container{
    width: 90%;
    height: 95px;
    margin: 3% auto;
    background-color: var(--light-blue);
    display: flex;
    padding: 5px 10px;
    border-radius: 5px;
}
.container .message-container .message-icon {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin: auto 0;
}
.container .message-container .message-icon .circle {
    border-radius: 100%;
    background-color: var(--primary-blue);
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-blue);
    font-size: 16px;
}
.container .message-container .message-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 10px;
    overflow: hidden;
}
.container .message-container .message-text .name {
    font-size: 16px;
    font-weight: 900;
}
.container .message-container .message-text .message {
    color: var(--primary-grey);
}
.container .message-container .message-time {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: right;
    color: var(--primary-grey);
}
.container .message-container .message-time >p {
    font-size: 10px;
}
.new-message-icon {
    position: absolute;
    bottom: -24px;
    right: -7px;
}

.heading {
    margin: 0 auto;
    width: 95%;
}

c-c-b-footer {
    position: fixed;
    border: none;
    bottom: 0;
    z-index: 1;
}