* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}



.wrapper {
    height: 350px;
    width: 80%;
    background-color: var(--primary-white);
    margin: auto auto;
    border-radius: 12px;
    overflow: auto;
}


.wrapper .container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper .container .header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.wrapper .container .header .header-left {
    height: 100%;
    width: 50%;
}

.wrapper .container .header .header-right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}



.wrapper .container .header .header-right .active {
    background-color: var(--light-blue);
    border-radius: 100%;
}

.wrapper .container .header .header-right .inactive {
    border-radius: 100%;
}



.wrapper .container .header .header-logos {
    margin: auto 10%;
}


.wrapper .container .header .delete-logo {
    margin: 0 2% 0 0;
}

.wrapper .container .content {
    height: 75%;
    width: 100%;
    overflow-y: scroll;
}


.wrapper .container .content::-webkit-scrollbar {
    width: 3px;
}

.wrapper .container .content::-webkit-scrollbar-thumb {
    background-color: var(--primary-blue);
}


.wrapper .container .content .account-tile {
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    height: 45px;
    width: 100%;
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    display: flex;
    flex-direction: row;
}


.wrapper .container .content .inactive {
    pointer-events: none;
}



.wrapper .container .content .account-tile:hover {
    background-color: var(--light-blue);
}



.wrapper .container .content .account-tile .select-checkbox {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .container .content .account-tile .details {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5% 0 5%;
}

.wrapper .container .footer {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrapper .container .footer button {
    margin: 0 auto;
    width: auto;
    padding: 0 5% 0 5%;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-medium-font-family);
}