* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}
.wrapper {
    width: 100vw;
    height: 100vh;
}
.heading {
    width: 90%;
    margin: 70px auto 10px auto;
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 3% 7%;
    border: 1px solid var(--border-blue);
    border-radius: 10px;
}
.container .menu-item {
    display: flex;
    margin: 5% 0; 
    align-items: center;
}
.container .menu-item p {
    margin-left: 10px;
}
c-c-b-header{
    position: fixed;
    top: 0;
    z-index: 10;
}
c-c-b-footer{
    position: fixed;
    bottom: 0;
}