*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--dxp-g-root-gotham-book-font-family);
}
.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-color: var(--primary-white); */
}
.container{
    width: 90%;
    height: calc(100vh - 140px);
    margin: 70px auto 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
c-c-b-header{
    position: fixed;
    top: 0;
    z-index: 10;
}
c-c-b-footer{
    position: fixed;
    bottom: 0;
}    
c-c-b-profile-layout-template{
    width: 100%;
    height: 90%;
}