* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
    overflow-y: scroll;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
}

.header {
    width: 90%;
    margin: 5% auto;
}

.container {
    width: 90%;
    height: calc(100vh - 158px);
    margin: 0 auto 0 auto;
    border-radius: 7px;
    padding: 0 0 0 0;
    overflow-y: scroll;
}

.wrapper .container::-webkit-scrollbar {
    display: none;
}

.container .from-account {
    margin: 0 auto;
    width: 100%;
}

.para {
    font-size: 12px;
    font-weight: 600;
    margin: 6px 0;
    /* padding-left: 10px; */
    color: var(--primary-grey);
}

.para-input {
    margin: 0 auto;
    font-size: 13px;
    width: 100%;
    height: 35px;
    border-radius: 12px;
    border: 1px solid var(--border-blue);
    padding: 0 2% 0 2%;
}

.container .sub-container {
    margin: 5% 0 0 0;
    border-radius: 12px;
    border: 1px solid var(--border-blue);
    padding: 5% 3%;
    transition: height 0.3s ease;
    overflow: hidden;
}

.container .sub-container .benificiary-account-p {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.txtarea {
    height: 90px;
    padding-top: 10px;
    font-size: 14px;
}


.inp-box>p {
    font-size: 12px;
    margin: 0 0 1% 0%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
}


.wrapper .container .inp-box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 4% 0 0 0;
    position: relative;
}


.wrapper .container .inp-box-date {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 4% 0 0 0;
}


.wrapper .container .inp-box-date .inp {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--primary-white);
}

.wrapper .container .inp-box-date .inp svg {
    position: absolute;
    right: 10px;
    top: 4px;
}

.wrapper .container .inp-box-date .date-inp {
    position: absolute;
    right: 0;
    z-index: 10;
    opacity: 0;
    height: 100%;
}



.wrapper .container .inp {
    margin: 0 auto;
    font-size: 13px;
    width: 100%;
    height: 35px;
    border-radius: 12px;
    border: 1px solid var(--border-blue);
    padding: 0 2% 0 2%;
}


.wrapper .container .inp-box .date-pick {
    position: absolute;
    right: 2%;
    bottom: 10%;
    z-index: -10;
}

.wrapper .container .date-field::-webkit-inner-spin-button,
.wrapper .container .date-field::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    opacity: 0;
}

.wrapper .container .date-field::placeholder {
    display: none;
    color: transparent;
}

.wrapper .container .hr {
    margin: 10% 0 5% 0;
    height: 1px;
    width: 100%;
    background-color: var(--border-blue);
}

.wrapper .container .inp-box-2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    margin: 4% 0 0 0;
    position: relative;
}

.wrapper .container .inp-box-2 label {
    width: fit-content;
}

.wrapper .container .inp-box-2>p {
    font-size: 12px;
    margin: 0 0 1% 0%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
}


.wrapper .container .inp-box-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 4% 0 0 0;
    position: relative;
    padding: 0 0 4% 0;
    border-radius: 12px;
    border: 1px solid var(--border-blue);
}

.wrapper .container .inp-box-4 {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 4% 0 0 0;
    position: relative;
}

.wrapper .container .btns {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: auto;
    margin: 8% auto 4% auto;
    position: relative;
}

.wrapper .container .btns .sub {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.wrapper .container .btns .cancel {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--light-grey);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.wrapper .container .btns .sub:disabled,
.wrapper .container .btns .sub[disabled] {
    background-color: var(--light-grey);
}

.wrapper .container .col-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 4% 0 0 0;
}

.wrapper .container .col-2 .inp-box {
    width: 45%;
    margin: 0 0 0 0;
}

.wrapper .container .inp-box-3 .inp-box {
    width: 90%;
}


.wrapper .container .inp-box-3 .inp-box-hor {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: auto;
}

.wrapper .container .inp-box-hor .inp-box-5 {
    width: 45%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 4% 0 0 0;
    position: relative;
}



input {
    font-size: 16px !important;
    max-height: 100px !important;
}

.read {
    display: flex;
    align-items: center;
    background-color: var(--light-grey);
}

.inter-bank {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inp-box-6 .title {
    font-size: 12px;
    margin: 0 0 1% 0%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
}

.inp-box-6 .title2 {
    font-size: 12px;
    margin: 0 0 1% 0%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-black);
}

.inp-box-6 .title2,
.inp-box-6 .title {
    margin: 4% 0 0 0%;
}

.inp-box-6 .inter-bank {
    margin: 4% 0% 0 0%;
}

.inp-box-6 .radios {
    width: 90%;
    margin: 4% 0% 0 5%;
}

.inp-box-6 .radios {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.radio-group {
    display: flex;
    align-items: center;
}

c-c-b-footer {
    position: fixed;
    border: none;
    bottom: 0;
    z-index: 1;
}

select {
    font-size: 16px !important;
    max-height: 100px !important;
}

input {
    font-size: 16px !important;
    max-height: 100px !important;
}

c-c-b-remarks {
    width: 100%;
    padding: 1% 0 0 0;
}



/* Date Field */
.wrapper .container .date-field {
    position: absolute;
    right: 6px;
    bottom: 6px;
    opacity: 0;
    z-index: 10;
}

.date-div {
    margin: 0 auto;
    width: 100%;
    height: 35px;
    border-radius: 12px;
    border: 1px solid var(--border-blue);
    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    position: relative;
}

.date-div p {
    font-size: 16px;
}

.date-div .date-svg {
    position: absolute;
    right: 8px;
    bottom: 6px;
}




/* Recurring */


.container-trans-date {
    width: 100%;
    margin: 15px auto 0 auto;
    border-radius: 7px;
    height: auto;
}


.container-trans-date .trans-date-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    height: auto;
}

.container-trans-date .repeat-freq {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    margin: 10% auto 5% auto;
}

.container-trans-date .repeat-freq .repeat-freq-options {
    font-size: 13px;
    width: 80%;
    height: 25px;
    border-radius: 6px;
    border: 1px solid var(--border-blue);
    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    color: var(--primary-black);
}

.container-trans-date .repeat-freq .repeat-freq-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container-trans-date .repeat-freq .select-number {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 25px;
    margin: 0 4% 0 0;
}

.container-trans-date .repeat-freq .select-number .increase,
.container-trans-date .repeat-freq .select-number .decrease {
    background-color: var(--primary-blue);
    height: 18px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-trans-date .repeat-freq .select-number .increase {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.container-trans-date .repeat-freq .select-number .decrease {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.container-trans-date .repeat-freq .select-number .display {
    height: 30px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    color: var(--primary-grey);
    background-color: var(--light-blue);
}

.container-trans-date .repeat-freq>p {
    font-size: 12px;
    margin: 0 0 1% 0%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
}


.container-trans-date .trans-date {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: auto;
}


.container-trans-date .recurring {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
}

.container-trans-date .recurring>p {
    font-size: 12px;
    margin: 0 0 1% 0%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
}

.container-trans-date .recurring .checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-trans-date .trans-date .date {
    position: relative;
    margin: 0 auto;
    font-size: 13px;
    width: 100%;
    height: 25px;
    border-radius: 6px;
    border: 1px solid var(--border-blue);
    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-trans-date .trans-date .date>p {
    position: absolute;
    left: 10px;
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    color: var(--primary-black);
}

.container-trans-date .trans-date>p {
    font-size: 12px;
    margin: 0 0 1% 0%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
}

hr {
    margin: 10% 0 5% 0;
    height: 1px;
    width: 100%;
    background-color: var(--border-blue);
}


.slds-checkbox_toggle {
    width: fit-content;
}