/*
	Author - 
	Created Date - 
	Modified Date - 
	Description - 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);

}



.wrapper {
    width: 90vw;
    margin: auto auto;
    /* overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden; */
    background: var(--primary-white);
}

.acitiveTrans {
    height: 280px;
}

.allTrans {
    height: 550px;
}

.wrapper .container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto 0 auto;
}

.wrapper .container .header {
    width: 90%;
    margin: 0 auto;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.wrapper .container .header .heading {
    margin: 0 0 0 5px;
    font-size: 18.25px;
}

.wrapper .container .dates {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 5% 2% 5% 2%;
    border: 1px solid var(--border-blue);
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper .container .types {
    border: 1px solid var(--border-blue);
    border-radius: 12px;
    width: 90%;
}


.wrapper .container .filter-inp {
    width: 90%;
    display: flex;
    margin: 10px 0px 5px 10px;
}
.wrapper .container .date-inp {
    margin: 10px 0px 5px 30px;
}
.wrapper .container .filter-inp p {
    margin-left: 10px;
}


.wrapper .container .dates .from-date,
.wrapper .container .dates .to-date {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 2% 0 2% 0;
    position: relative;
}

.wrapper .container .dates .from-date .from-date-p,
.wrapper .container .dates .to-date .to-date-p {
    color: var(--primary-blue);
}


.wrapper .container .from-acc-box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 4% 0 0 0;
}

.wrapper .container .to-acc-box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 4% 0 0 0;
}


.wrapper .container .t-type-box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 4% 0 0 0;
}

.wrapper .container .from-acc-inp {
    margin: 0 auto;
    width: 90%;
    height: 35px;
    border-radius: 12px;
    border: 1px solid var(--border-blue);
    padding: 0 2% 0 2%;
    font-size: 16px;
    max-height: 100px;
}


.wrapper .container .to-acc-inp {
    margin: 0 auto 25px auto;
    width: 90%;
    height: 35px;
    border-radius: 12px;
    border: 1px solid var(--border-blue);
    padding: 0 2% 0 2%;
    font-size: 16px;
    max-height: 100px;
}

.wrapper .container .desc-inp {
    margin: 0 auto;
    font-size: 13px;
    width: 90%;
    min-height: 100px;
    border-radius: 12px;
    border: 1px solid var(--border-blue);
    padding: 2% 2% 2% 2%;
    font-size: 16px;
    max-height: 100px;
}

.wrapper .container .btns {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.wrapper .container .btns .done-btn {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    margin: 8% auto 0 auto;
}


.wrapper .container .btns .done-btn:disabled,
.wrapper .container .btns .done-btn:disabled[disabled] {
    background-color: var(--light-grey);
}

input:disabled,
input:disabled[disabled] {
    background-color: var(--light-grey);
}


.wrapper .container .btns .cancel-btn {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--light-grey);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    margin: 8% auto 0 auto;
}

.date-block {
    width: 100%
}

.amount-block {
    width: 100%;
    margin: 0 0px 0 10%;
}

.wrapper .container .t-type-box>p {
    font-size: 12px;
    margin: 0 0 1% 5%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
}

.wrapper .container .from-acc-box>p {
    font-size: 12px;
    margin: 0 0 1% 5%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
}



.wrapper .container .to-acc-box>p {
    font-size: 12px;
    margin: 0 0 1% 5%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
}


.wrapper .container .t-type-box .t-type {
    margin: 0 auto;
    width: 90%;
    height: 35px;
    border-radius: 12px;
    border: 1px solid var(--border-blue);
    padding: 0 2% 0 2%;
    font-size: 16px;
    max-height: 100px;
}

/* .wrapper .container>.t-type-p {
    margin: 2% 0 0 0;
} */



.wrapper .container .dates .from-date>p,
.wrapper .container .dates .to-date>p {
    font-size: 15px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}


.wrapper .container .dates .from-date>input,
.wrapper .container .dates .to-date>input {
    position: absolute;
    right: 0;
    z-index: 10;
    opacity: 0;
    font-size: 16px;
    max-height: 100px;
}


.wrapper .container .dates .from-date>svg,
.wrapper .container .dates .to-date>svg {
    position: absolute;
    right: 0;
}

.wrapper .container .dates .from-date .from-date-display,
.wrapper .container .dates .to-date .to-date-display {
    position: absolute;
    right: 30px;
}


input {
    font-size: 16px;
    max-height: 100px;
}

c-c-b-footer {
    position: fixed;
    border: none;
    bottom: 0;
    z-index: 1;
}