/*
    Author - Mahalakshmi
    Created Date - 06/03/2024
    Modified Date - 21/03/2024, 20/03/2024
    Description - "CSS Styles"
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}

.group,
form,
.group label {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    background-color: var(--primary-white);
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: white;
}


.cb-logo {
    margin: 20% auto 0% auto;
}

form {
    width: 100%;
    height: auto;
    margin-top: 0;
}

.group {
    height: 168px;
    width: 95%;
}

.lbl {
    width: 90%;
    text-align: left;
    margin-bottom: 0%;
    color: var(--primary-grey);
    font-size: 12px;
    font-family: var(--dxp-g-root-gotham-medium-font-family);

}


.group label {
    width: 100%;
    position: relative;
}

.group input {
    width: 90%;
    height: 30px;
    border: 0.75px solid var(--border-blue);
    border-radius: 8px;
    padding: 0 4%;
    margin: 0 0 2% 0;
    font-size: 16px;
}

.group input:focus {
    outline: 2px solid var(--border-blue);
}

.group .btns {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.nxt-btn {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-medium-font-family);
}

.cancel-btn {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--light-grey);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.blue-container {
    border: 2px solid var(--primary-blue);
    border-radius: 12px;
    width: 90vw;
    padding: 5% 0 5% 0
}

.nxt-btn:disabled,
.nxt-btn[disabled] {
    background-color: var(--light-grey);
}

.instructs {
    width: 90%;
    text-align: left;
    padding: 0 2% 0 0;
    margin: 5% 0 0 0;
}

.instructs p {
    font-size: 15px;
    color: var(--primary-black);
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.instructs ul {
    padding: 0 0 0 5%;
}

.instructs ul li {
    list-style-type: disc;
    font-size: 12px;
    color: var(--primary-black);
    line-height: 15px;
}


.group .checklabel {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 2%;
}

.group .checklabel p {
    margin: 0 0 1% 2%;
    font-size: 12px;
    color: var(--primary-black);
    line-height: 14px;
}

.check-1 input,
.check-2 input,
.check-3 input {
    width: 16px;
    border: 1px solid var(--primary-blue);
}


.check-1 input:checked,
.check-2 input:checked,
.check-3 input:checked,
.check-1 input:focus,
.check-2 input:focus,
.check-3 input:focus {
    outline: none;
}


.check-1 a,
.check-2 a,
.check-3 a {
    text-decoration: none;
    color: var(--primary-blue);
}


.check-1 a:hover,
.check-2 a:hover,
.check-3 a:hover {
    color: var(--primary-blue);
}

.check- a:active,
.check-2 a:active,
.check-3 a:active {
    color: var(--primary-blue);
}



.error-div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.error-div p {
    text-align: center;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.error-input-field {
    border: 1px solid var(--primary-orange) !important;
    color: var(--primary-orange);
}

.error-input-field:focus {
    outline: 1px solid var(--primary-orange) !important;
    color: var(--primary-orange);
}

.error-input-label {
    color: var(--primary-orange) !important;
}

.pass-show {
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 7%;
    top: 40%;
}

.header-form {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto 2% auto;
}


.header-form p {
    font-size: 18.25px;
    margin: 0 0 0 10px;
}