/*
    Author - Mahalakshmi
    Created Date - 06/03/2024
    Modified Date - 21/03/2024
    Description - "Login Footer CSS styles"
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}


.wrapper {
    height: 50px;
    width: 340px;
    /* width: 100%; */
    position: relative;
}

.container {
    padding: 0px 10px;
    width: 100%;
    /* width: 90%; */
    height: 100%;
    border-radius: 25px;
    background-color: var(--primary-white);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.menu-item {
    width: 74px;
    color: var(--primary-black);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-item p {
    font-weight: 400;
}

.menu-item svg {
    cursor: pointer;
}

/* 
.menu-item:hover path{
    fill: var(--primary-orange);
}
.menu-item:hover p{
    color:var(--primary-orange);
} */

.off_15_6_6 path,
.off_15_6_6 p {
    fill: var(--primary-blue);
    color: var(--primary-blue);;
}

.on_15_14 path,
.on_15_14 p {
    fill: var(--primary-orange);
    color: var(--primary-orange);
}


.contact-us {
    width: 25%;
}

.help {
    width: 20%;
}

.atm-locater {
    width: 25%;
}


.exchange-rates {
    width: 30%;
}