/*
	Author - __
	Created Date - __/__/202_
	Modified Date - __/__/202_, __/__/202_
	Description - {***Purpose of creation or modification, Additional Comment***}
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--dxp-g-root-gotham-book-font-family);
}


.wrapper {
    width: 365px;
    height: 350px;
    margin: 0 auto;
}

.wrapper * {
    user-select: none;
}


.container {
    font-size: 12px;
    margin: 0 auto;
    width: 280px;
    height: 265px;
    border-radius: 12px;
    border: 1px solid #0081C0;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.svg-button {
    cursor: pointer;
}


.upper,
.month,
.year,
.days,
.date,
.buttons,
.done,
.cancel {
    display: flex;
    align-items: center;
}

.upper {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

.month {
    justify-content: center;
    flex-direction: row;
    float: left;
}

.month p {
    color: #0062A7;
    width: 75px;
    text-align: center;
}

.month svg {
    width: 25px;
}

.year {
    justify-content: space-evenly;
    flex-direction: row;
    /* background-color: #E3EFF8; */
    /* height: 19.5px; */
    /* width: 80px; */
    border-radius: 0.25rem;
    float: right;
}

.year select {
    background-color: #E3EFF8;
    border: none;
    outline: none;
    text-decoration: none;
    width: 56px;
    height: 22px;
    margin: 0 24% 0 0;
}

.year p {
    color: #0062A7;
}



.middle {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dates {
    width: 100%;
}

.lower {
    display: contents;
    width: 100%;
}

.days {
    justify-content: center;
}


.lower {
    place-items: center;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.monthforward,
.monthback {
    cursor: pointer;
}

.other-day,
.sunday {
    font-weight: 500;
    color: #000000;
    cursor: pointer;
}


.other-day:hover {
    color: #0062A7;
}

.sunday,
.sday {
    color: #F48025;
}

.disable {
    pointer-events: none;
    color: #A5A5A5;

}

.date {
    border-radius: 100%;
    height: 30px;
    aspect-ratio: 1 / 1;

    justify-content: center;
}

.date:hover {
    background-color: #eff4f8;
}

.active {
    background-color: #E3EFF8;
}

.buttons {
    width: 86%;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-evenly;
    flex-direction: row;
}


.buttons button {
    border: none;
    color: #FFFFFF;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.done {
    justify-content: center;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: #0767AD;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
}

.cancel {
    background-color: #9C9C9C;
    justify-content: center;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;

}