/*
    Author - Mahalakshmi
    Created Date - 06/03/2024
    Modified Date - 21/03/2024
    Description - "Exchange Rates CSS styles"
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}


.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--primary-white);
    padding-top: 50%;
}


.container {
    width: 90%;
    height: auto;
    margin: 2% auto 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid var(--primary-blue);
    border-radius: 20px;
    padding: 4% 0% 4% 4%;
}



/* .wrapper{
    max-width: 64em;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 18%;
}


.container{
    width:95%;
    height: 306px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--border-blue);
    border-radius: 20px;
 
} */

.rows {
    margin: 5px 0px 5px 0px;
    height: 250px;
    width: 100%;
    overflow-y: scroll;
}

.rows::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

.rows::-webkit-scrollbar-track {
    background: var(--primary-white);
    width: 10px;
    /* color of the tracking area */
}

.rows::-webkit-scrollbar-thumb {
    background-color: var(--light-grey);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}



.row {
    text-align: center;
}



.data-rows {
    margin: 15px 0px 15px 0px;
}

.grid-rows {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
}

.header .get-back-button {
    cursor: pointer;
}

.row {
    font-size: 16px;
    font-family: var(--dxp-g-root-gotham-medium-font-family);

}

.row-head {
    color: var(--primary-orange);
}

.row-date {
    color: var(--primary-black);
}

.row-curr {
    color: var(--primary-blue);
}

.header p {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-black);
    margin-left: 10px;
}

.header svg {
    margin-left: 10px;
}

.con-header {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.con-header select {
    border: none;
    outline: none;
    background-color: var(--primary-white);
    margin: 0 4% 2% 0;
}

.slds-grid {
    display: flex;
    align-items: center;
}

.slds-grid .slds-col {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}