* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}



.wrapper {
    height: fit-content;
    width: 80%;
    background-color: var(--primary-white);
    margin: auto auto;
    border-radius: 12px;
    overflow: auto;
    padding: 8% 0 0 0;
}


.wrapper .container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0% 5% 0% 5%;
    text-align: center;
}

.wrapper .container .svg {
    margin: 15px 0 15px 0;
}



.wrapper .container .title {
    color: var(--primary-blue);
    font-size: 24px;
    margin: 10px 0 2px 0;
    font-family: var(--dxp-g-root-gotham-medium-font-family);
}

.wrapper .container .message {
    color: var(--primary-black);
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-book-font-family);
    margin: 0 0 5px 0;
}

.wrapper .container .footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 5px 0 5px 0;
    border-top: 0.5px solid var(--light-grey);
    padding: 20px 0 5px 0;
}

.wrapper .container .error-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0 0 5% 0;
}

.wrapper .container .footer .ok-button {
    margin: 0% 0 0% 0;
    width: 120px;
    height: 35px;
    border: none;
    background-color: var(--primary-blue);
    text-align: center;
    color: var(--primary-white);
    border-radius: 20px;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);

}

.wrapper .container .footer .no-button {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--light-grey);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-weight: 700;

}

.wrapper .container .misallaneous {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0px 0 8px 0;
}

.slds-modal__content {
    box-shadow: none;
    width: 100%;
}

.slds-modal {
    overflow: hidden;
}