/*
	Author - 
	Created Date - 
	Modified Date - 
	Description - 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);

}



.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;

}

.wrapper .container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 70px auto 0 auto;
}

.wrapper .container .header {
    width: 90%;
    margin: 0 auto;
    height: 2.5rem;
}



.wrapper .container .content {
    width: 90%;
    margin: 0 auto;

    border-radius: 12px;
}

.wrapper .container .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.3px solid var(--border-blue);
    width: 100%;
    margin: 0 auto;
    border-radius: 12px;
    padding: 4% 2% 4% 2%;
}

.wrapper .container .cards .head {
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    color: var(--primary-grey);
    margin: 0 0 2% 0;
}

.wrapper .container .radios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.wrapper .container .radio-group {
    display: flex;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: center;
}

.wrapper .container .radio-group p {
    margin: 0 0 0 2%;
}

.wrapper .container .footer .submit-btn {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    margin: 12% auto 0 auto;
}

.wrapper .container .content .currency {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: 1px solid var(--border-blue);
    padding-left: 5px;
}

.wrapper .container .content>p {
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-grey);
    margin: 5% auto 1% 0;
}


.wrapper .container .content .remarks {
    width: 100%;
    border: 1px solid var(--border-blue);
    border-radius: 12px;
    min-height: 100px;
    padding: 2% 2% 2% 2%;
}

.wrapper .container .footer .submit-btn:disabled,
.wrapper .container .footer .submit-btn[disabled] {
    background-color: var(--light-grey);
}

c-c-b-header {
    position: fixed;
    top: 0;
    z-index: 10;
}

c-c-b-footer {
    position: fixed;
    bottom: 0;
}

input, .remarks {
    font-size: 16px !important;
    max-height: 100px !important;
}