* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}

.wrapper {
    width: 100vw;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.heading {
    width: 90%;
    margin: 0 auto;
    height: 2.5rem;
}



.content {
    width: 90%;
    height: 80%;
    margin: 0 auto;
}

.content .exp-rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--border-blue);
    border-radius: 12px;
    padding: 6% 0 6% 0;
}


.content .add-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--border-blue);
    border-radius: 12px;
    padding: 4% 0 6% 0;
    height: auto;
    margin: 4% 0 0 0;
}


.content .add-info p {
    font-size: 16px;
    margin: 0 0 2% 0;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}


.content .add-info .items {
    width: 100%;
    text-wrap: wrap;
    text-align: left;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5% 0 5%;
}


.content .add-info .comments {
    border: 1px solid var(--border-blue);
    border-radius: 12px;
    margin: 4% 0 2% 0;
    width: 90%;
    height: auto;
    padding: 2% 2% 2% 2%;
    min-height: 7rem;
}


.content .add-info .items span {
    padding: 2% 4% 2% 4%;
    border-radius: 35px;
    margin: 2% 1% 2% 1%;
}

.content .add-info .items .inactive {
    background-color: var(--light-grey);
    color: var(--primary-black);

}

.content .add-info .items .active {
    background-color: var(--primary-blue);
    color: var(--primary-white);
}


.content .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 4% 0 0 0;
}


.content .footer button {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.content .exp-rating .sub-head-1 {
    font-size: 20px;
    margin: 0 0 0 0;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}

.content .exp-rating .sub-head-2 {
    font-size: 14px;
    margin: 0 0 4% 0;
    color: var(--primary-grey);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
}

.content .exp-rating .stars {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}