/*
	Author - Prateek Deshmukh
	Created Date - 08/03/2024
	Modified Date - 21/03/2024
	Description - Enhanced Error Display, Utilizing Reusable component with Custom Messages Passed from Parent Components
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}

.wrapper{
    min-width: 150px;
    /* width: fit-content; */
    height: auto;
}

.container{
    background-color: var(--light-blue);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    padding: 2% 4% 2% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.logo{
    /* width: 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.error{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}


.error p{
    font-size: 11px;
    line-height: 15px;
    margin: 0 0 0 2%;
}
.logo, .error{
    height: 100%;
}