/*
	Author - Prateek Deshmukh
	Created Date - 06/03/2024
	Modified Date - 12/03/2024
	Description - This is a reusable child component designed to display Account details,
                  capable of being utilized multiple times to show specific details based on the provided data.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}


.wrapper {
    height: 150px;
    width: 100%;
    border-radius: 12px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/resource/AccountCardBg');
    background-size: cover;
    color: var(--primary-white);

    margin:0 0 2% 0;
}


.wrapper .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.wrapper .container .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0% 3% 0% 0%;
}


.wrapper .container .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    height: auto;
    padding: 1% 0 0 0;
}

.view-all{
    width:95%;
	display: flex;
    align-items: center;
	justify-content: space-between;

}

.wrapper .container .content .cont-details {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width:100%;
    height: 100%;
}

.wrapper .container .content .cont-details .account-type .acc-type {
    font-size: 14px;
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    text-align: left;
}

.wrapper .container .content .cont-details .acc-no {
    font-size: 12px;
    font-family: var(--dxp-g-root-gotham-book-font-family);
    text-align: left;
}

.wrapper .container .content .cont-details .acc-bal {
    font-size: 24px;
    text-align: left;
}

.wrapper .container .footer {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0% 1% 0% 1%;
}

.wrapper .container .footer .footer-cont {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 2% 4% 2% 4%;
    font-family: var(--dxp-g-root-gotham-book-font-family);
}

.view-all-p {
    color: orange;
    
    z-index: 1;
}