*{
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}

.container {
    width: 100%;
    height: auto;
}

.account-open-form{
    width: 100%;
    height: auto;
    overflow-y: scroll;
}
.account-open-form::-webkit-scrollbar {
    width: 0px;
}
.fields{
    width: 100%;
    height: auto;
    padding: 2% 2% 2% 3%;
    border: 1px solid var(--border-blue);
    border-radius: 7px;
}

.container .options {
    width: 100%;
    height: auto;
    padding: 2% 2% 2% 3%;
    border: 1px solid var(--border-blue);
    border-radius: 7px;
}

.container textarea {
    width: 100%;
    margin: 0 auto;
    padding: 2% 2% 2% 2%;
    border: 1px solid var(--border-blue);
    border-radius: 7px;
    height: auto;
    min-height: 7rem;
}

.container .heading{
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
    margin: 3% 0% 1% 0%;
}
.container .min-heading{
    color: var(--primary-black);
}
.duration-range-slider{
    margin: 3% 0% 0% 0%;
}

.btns{
    display: flex;
    justify-content: center;
}

.btns .submit-btn{
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.btns .submit-btn:disabled,
.btns .submit-btn[disabled] {
    background-color: var(--light-grey);
}