* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info-container{
    display: flex;
    justify-content: space-between;
}
.info-container .full-form{
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    color:var(--primary-blue);
}
.info-container .heading{
    font-family: var(--dxp-g-root-gotham-bold-font-family);;
    color: var(--primary-grey);
}

.slider {
    width: 100%;
    appearance: none;
    background: var(--primary-blue);
    height: 2px;
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
    height: 7px;
    background: var(--primary-blue);
    border-radius: 7px;
    cursor: pointer;
}

.slider-values {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
}
.slider-valueM{
    position: relative;
    right: 1%;
}