* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}

.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;

    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.wrapper .heading {
    width: 100%;
    margin: 0 auto;
    height: 2.5rem;
}

.wrapper .container {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.sub-container {
    width:100%;
    height: calc(100vh - 140px);
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
    width: 0px;
}

.wrapper .container .casing {
    width: 100%;
    height: auto;
    border: 1px solid var(--border-blue);
    border-radius: 12px;
    padding: 5% 0% 5% 4%;
    overflow: scroll;

    margin: 0% 0% 2% 0%
}

.wrapper .container .casing::-webkit-scrollbar {
    width: 0px;
}

.submit-btn{
    display: flex;
    justify-content: center;
}

.btn {
    width: 105px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-weight: 700;

    margin: 0% 0% 4% 0%;
}

.title {
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-grey);
}

.value {
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-black);
    margin: 0% 0% 2% 0%;
}

c-c-b-footer {
    position: fixed;
    border: none;
    bottom: 0;
    z-index: 1;
}

select {
    font-size: 16px !important;
    max-height: 100px !important;
}

input {
    font-size: 16px !important;
    max-height: 100px !important;
}