/*
	Author - Mahalakshmi
	Created Date - 06/03/2024
	Modified Date - 21/03/2024
	Description - "Login Form CSS styles"
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}

.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0px;
    overflow: hidden;
    /* padding-top: 16%; */
}

.maincontainer {
    height: 100%;
    width: 100%;
}

.topcontainer {
    height: 40%;
    width: 100%;
}

.belowcontainer {
    height: 60%;
    width: 100%;
    position: relative;
}

.clarien {
    margin-left: 4px;
    margin-top: 13px;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
    position: absolute;
    bottom: 0;
}
.belowcontainer .loginError{
    padding-bottom: 15%;
}
.comp-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 5%;
}


.inputs {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    /* margin-bottom: 15px; */
    margin-bottom: 2%;
}

.inputs .username,
.inputs .password {
    width: 90%;
    height: 38px;
    border-radius: 0.75rem;
    border: none;
    outline: none;
    padding: 2% 8% 2% 3%;
    color: var(--primary-blue);
    font-size: 16px;
    max-height: 100px;
}

.errorMsg{
    width:90%;
    margin:0 0 2% 0;
    /* display: flex;
    justify-content: center; */
}
.error-input-field::placeholder{
    color: var(--primary-orange) !important;
}

.inputs .error-input-field {
    border: 2px solid var(--primary-orange) !important;
    color: var(--primary-orange) !important;
}

.inputs .error-input-field:focus {
    outline: 2px solid var(--primary-orange) !important;
    color: var(--primary-orange) !important;
}

.username::placeholder,
.password::placeholder {
    color: var(--primary-blue);
}



.inputs .username {
    /* margin-bottom: 20px; */
    margin-bottom: 4%;
}


.inputs .remme {
    border: none;
    border-radius: 0px;
    outline: none;
    margin-right: 2px;
}

.login {
    background-color: var(--primary-blue);
    width: 135px;
    height: 30px;
    border-radius: 0.75rem;
    border: none;
    color: var(--primary-white);
    font-size: 18px;
    font-weight: 700;
}

.login:disabled {
    background-color: var(--light-grey);
}

.pass {
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
}

.pass svg {
    position: absolute;
    right: 7%;
    top: 28%;
}

.rem-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    margin: 1% 0 0 12%;
}

.rem-me p {
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-white);

}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.emoji {
    width: 22%;
    height: 25%;
    aspect-ratio: 1 / 1;
    background-color: var(--primary-white);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.lower {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.token-reg {
    text-align: center;
    /* margin-bottom: 15px; */
}


.links {
    padding-top: 2%;
}

.links * {
    color: var(--primary-white);
    font-size: 12px;
}

.links a {
    text-decoration: none;
}

.signup {
    margin-bottom: 2%;
}




.links a {
    color: var(--primary-orange);
}

.signup .signup-link,
.token-reg .register-link {
    color: var(--primary-orange);
}

.error-msg {
    text-align: center;
    color: red;
    position: absolute;
    top: 48%;
}

.error-msg p {
    line-height: 11px;
}




.username-error,
.password-error {
    border: 2px solid var(--primary-orange);
}


c-c-b-login-contact-us {
    position: absolute;
    left: 24px;
    bottom: 72px;

}

c-c-b-atm-map {
    position: absolute;
    bottom: 72px;
    right: -112px;
}

c-c-b-login-exchange-rates {
    position: absolute;
    right: 30px;
    bottom: 72px;
}


/* For screen sizes less than 320px */
@media screen and (max-width: 319px) {
    .wrapper {
        background-size: contain;
    }
}

/* For screen sizes more than 320px */
@media screen and (min-width: 321px) {
    .wrapper {
        background-size: cover;
    }
}

@media screen and (min-width: 350px) and (max-width: 425px) and (min-height: 650px) and (max-height: 724px) {
    .topcontainer {
        height: 31%;
    }
}

@media screen and (min-width: 425px) and (max-width: 560px) and (min-height: 725px) and (max-height: 800px) {
    .topcontainer {
        height: 36%;
    }
}


@media screen and (min-height: 800px) {
    .topcontainer {
        height: 43%;
    }
}

.nopadding {
    padding: 0px !important;
}