* {
    margin: 0;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}
:host {
	--slds-c-accordion-section-color-border: transparent;
  }
.wrapper {
    margin-left: 5px;
    width: 100;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;

}
.transactionDetail{
    margin: 2% 0% 0% 3%;
}
.transactionType{
    font-family: var(--dxp-g-root-gotham-medium-font-family);
}
.caption {
    margin: 8%;
}

.main-container {
    /* height: 37px; */
    height: 40px;
}

.details-container {
    background-color: var(--light-blue);
    border-radius: 10px;
    margin: 2% 0 2% 0;
}

.toggle {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.amount-text {
    padding-top: 8%;
    font-weight: bolder;
}

.emiID {
    /* color: var(--primary-blue); */
    font-weight: bolder;
}

.details-container .emi-section {
    padding: 2% 2% 2% 3%;
}

.credit {
    color: green;
}
.debit {
    color: red;
}


.slds-accordion__summary-heading .slds-button:focus {
    box-shadow: none
}
.slds-accordion__summary-heading .slds-button:hover {
    box-shadow: none
}