* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    font-family: var(--dxp-g-root-gotham-book-font-family);
}

.wrapper {
    width: 100vw;
}

.container {
    width: 90%;
    margin: 20px auto;
}

.wrapper .container .casing {
    width: 100%;
    height: auto;
    margin: 5% 0;
}

.btns{
    display: flex;
    justify-content: center;
}

.btns .submit-btn{
    width: 105px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.container textarea {
    height: auto;
    min-height: 7rem;
    font-family: var(--dxp-g-root-gotham-book-font-family);
}

.container textarea{
    width: 100%;
    height: auto;
    padding: 2% 2% 2% 3%;
    border: 1px solid var(--border-blue);
    border-radius: 7px;
}

.btns .submit-btn:disabled,
.btns .submit-btn[disabled] {
    background-color: var(--light-grey);
}

p{
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    color: var(--primary-black);
}
p span{
    font-family: var(--dxp-g-root-gotham-book-font-family);
    color: var(--light-grey);
}
.title{
    margin:5% 0% 0% 0%;
}
.trans-date .date {
    position: relative;
    margin: 0 auto;
    font-size: 18px;
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: 1px solid var(--border-blue);
    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.trans-date .date>p {
    position: absolute;
    left: 10px;
    font-family: var(--dxp-g-root-gotham-medium-font-family);
    color: var(--primary-black);
}

.trans-date>p {
    font-size: 12px;
    margin: 0 0 1% 0%;
    font-family: var(--dxp-g-root-gotham-bold-font-family);
    /* color: var(--primary-grey); */
}

.trans-date .trans-date-inp {
    opacity: 0;
    position: absolute;
    right: 0;
}

.date .date-pick {
    position: absolute;
    right: 8px;
    bottom: 8px;
    z-index: -10;
}